@page
@model AutEmplAcc.Pages.Employees.Sicks.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SickLeave[0].Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SickLeave[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SickLeave[0].EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SickLeave[0].Diagnosis)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.SickLeave) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diagnosis)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.SickLeaveId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.SickLeaveId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.SickLeaveId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<p>
    <a asp-page="./AllSickExport" class="hidden-print">Экспортировать отчет по всем больничным в Word</a>
</p>
